@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-3">
        <img src="@Url.Content("~/images/hotrodbike_large.gif")" alt="" style="padding: 40px 0 0 20px;" />
    </div>
    <div class="col-md-9">
        <section>
            <div>
                <hgroup>
                    <h3>About</h3>
                </hgroup>
                <article>
                    <p>
                        Adventure Bike Shop is a modern MVC 5 web application built with a layered architecture.  It is also built on a custom version of the Microsoft AdventureWorks Sample Database using a new set of conventions for the database schema.
                    </p>
                    <p>
                        There is a heavy reliance on "Convention over Configuration" (CoC) through out the design of this application.  It permeates through all the layers and tooling used.  It is keep to the speed of the application development process.
                    </p>
                    <p>
                        One example is the we have built a custom "Micro-ORM" along with a prototype "T4" code generator which relies the "CoC" we applied to the database's schema design prior to extracting data from the AdventureWorks.
                    </p>
                    <p>
                        It is important to note that in this project we are also using a small set of specifically selected design patterns, best practices, and tools used in todays modern websites.
                    </p>
                    <p>
                        We studied a larger variety of websites on the Internet that we aspired to learn from and emulate.  These ranged from large media companies to that website for the local Micro Brew my son likes to take me to for dinner.
                    </p>
                    <p>
                        Some examples of these modern websites are:
                        <ul>
                            <li><a href="http://abc.go.com/">ABC.com</a> </li>
                            <li><a href="http://www.tbs.com/">Turner Broadcasting System</a></li>
                            <li><a href="http://www.starz.com/">Starz Entertainment, LLC</a></li>
                            <li><a href="http://6abc.com/">Action News - My local ABC news affiliate in Philadelphia</a></li>
                            <li><a href="https://www.homebrewersassociation.org/">American Home Brewers Association - A Home Brewer website for everything for learning to make your own beer.</a></li>
                            <li><a href="http://www.brewerydb.com/">BreweryDB - a website creating a library of breweries and beers from around the world</a></li>
                            <li><a href="http://opencooks.com/">Opencooks.com - A multilingual website to browse, create, and translate recipes in multiple languages</a></li>

                        </ul>
                    </p>

                    <p>
                        The underlying goal is to produce an application that is designed to be quick and easy to use; as well as being attractive, easy-to-maintain, and very fast.
                    </p>

                </article>
            </div>
        </section>
    </div>

</div>

