@using System.Security.Policy
@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-3">
        <img src="@Url.Content("~/images/DevProCloud.jpg")" alt="DevProCloud.jpg" style="padding: 40px 0 0 20px;" />
    </div>
    <div class="col-md-6">
        <section>
            <hgroup>
                <h3>Contact</h3>
            </hgroup>
            <address>
                Ronald Garlit<br />
                Adventure Bike Shop Developer<br />
                <abbr title="Phone">P:</abbr>
                856.848.7908
            </address>

            <address>
                <strong>Email: </strong>   <a href="mailto:rongarlit@live.com">rongarlit@live.com</a><br />
            </address>
        </section>
    </div>
    <div class="col-md-3">
        <img src="@Url.Content("~/images/hotrodbike_large.gif")" alt="hotrodbike_large.gif" style="padding: 40px 0 0 20px;" />
    </div>
</div>