@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div>
    <div class="col-md-12 well">
        <section>
            <div>
                <h2>What happened?</h2>

                <div>

                    <p>
                        Please accept our apologies. <br />It seems that an error has occurred.
                        The error details have been collected. <br />We will be looking into this problem shortly.
                        <br /><br />
                        The Adventure Bike Shop Development Team.
                        <br />
                        <a href="/">Click here</a> to return to the home page.<br />
                        <br /><br />
                    </p>
                </div>
                <div>
                    <img src="@Url.Content("~/images/hotrodbike_red_large.gif")" class="img-responsive img-rounded" alt="hotrodbike_red_large.gif" />
                </div>

            </div>
        </section>
    </div>

</div>
