
@{
    ViewBag.Title = "UnderConstruction";
}


<div>
    <div class="col-md-12 well">
        <section>
            <div>
                <h2><strong>Under Construction</strong></h2>
                <hr />
                <div>

                    <p>
                        Please accept our apologies. <br />The menu item you selected is either <h5><strong>"Under Construction"</strong></h5> <br />OR
                        <br /><h5><strong>"Scheduled for Development"</strong></h5>.
                        <br />Please check back to see what features we have added.
                        <br /><br />
                        Many thanks for visiting!
                        <br />
                        The Adventure Bike Shop Development Team.
                        <br /><br />
                        <a href="/">Click here</a> to return to the home page.<br />
                        <br /><br />
                    </p>
                </div>
                <div>
                    <img src="/images/hotrodbike_red_large.gif" class="img-responsive img-rounded" alt="hotrodbike_red_large.gif" />
                </div>

            </div>
        </section>
    </div>

</div>

